body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 20px;

}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}





.balance {
    width: 100%;
    max-width: 250px;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.1);
}

.balance h2 {
    margin-top: 0;
    text-align: center;
}

.balance ul {
    list-style-type: none;
    padding: 0;
}

.balance ul li {
    padding: 5px 0;
    text-align: center;
}

.balance li {
    list-style: none;
    margin: 0 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.matches {
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50px;
    padding: 20px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40%;
    
}



.matches input, .matches select, .matches button {
    margin: 0 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

.dashboard {
    padding-top: 10px;
    font-size: 20px;
    font-weight: bold;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    text-align: center;
    width: 5%;

}

.dashboard a {
    margin: 5px;
    padding: 5px;
    border: 1px;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
    color: #007bff;

}

.bet-confirmation-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.bet-confirmation-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.success-message {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 20px;
}

.bet-details p {
    margin: 10px 0;
    color: #555;
}

.bet-info {
    font-weight: bold;
    color: #000;
}

.back-home-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    width: 100%;
}

.back-home-link:hover {
    background-color: #0056b3;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-weight: bold;
    color: #000;
    
}

.login-container h1 {
    color: #333;
    margin-bottom: 20px;
}

.success-message {
    color: #28a745;
    font-weight: bold;
    margin-bottom: 20px;
}

 
.login-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;

    border: none;
}

.login-button:hover {
    background-color: #0056b3;
}

.login-container input {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center
    ;
}

.login-container label {
    margin: 10px 0;
    color: #555;
}


@media (max-width: 600px) {
    .matches {
        width: 100%;
    }
    .select_match form {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
        

        
    }
}